# Gitea source
GITEA_URL=http://10.0.0.4:3000/lfpoulain/py-intercom.git
GITEA_BRANCH=main

# Web server
WEB_PORT=8443

# SSL: 1 = certificat auto-signé (adhoc), 0 = pas de SSL
SSL_ADHOC=1

# SSL avec certificats custom (laisser vide si SSL_ADHOC=1)
SSL_CERT=
SSL_KEY=
